h1{
  color: #fff4e4;
  font-size: 6rem;
  text-align: center;
  text-shadow: 2px 2px #ff0000;
}
h2{
  color: #fff4e4;
  font-size: 1.5rem;
  text-align: center;
  padding-bottom: 15px;
}
#outputWrapper{
 width: 1000px;
}

#hContainer{
  height: 5%;
  margin-bottom: 50px;
  padding-bottom: 50;
}

input, textarea {
  background-color : #fff4e4;
}

body{
  background-color: #6f9a8d;

}

ul{
  color: #fff4e4;
  font-size: 1.3rem;
  list-style-type:none;
}

label{
  color: #fff4e4;
  font-size: 1.3rem;
}

#button{
  background-color: #ea5e5e;
}

#hContainer{
  background-color: #ea5e5e;
  margin-top: 50px;
  border-radius: 3%
}
